/* ---------------------- GLOBAL --------------------------------- */
:root {
  --primary: #ffcb8a;
  --lightblue: #b0bdff;
  --brown: #d08e3c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: var(--brown);
}

a {
  text-decoration: none;
  color: #d08e3c;
}

.btn {
  padding: 8px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 50%;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: var(--lightblue);
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: #b0bdff;

  color: #b0bdff;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid var(--lightblue);
  transition: all 0.3s ease-out;
}

.btn--medium {
  margin: 10px;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
}

.btn-large {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}

.btn-search {
  background: #b0bdff;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 20px;
  color: #fff;
  outline: none;
  border: none;
}
.btn-search:hover {
  opacity: 50%;
  padding: 12px 26px;
  transition: all 0.3s ease-out;
  background: #b0bdff;
  transition: 250ms;
}

/* ---------------------- NAV BAR --------------------------------- */
.navbar {
  background-color: rgba(255, 249, 235);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 8px 35px;
}

.navbar-logo {
  font-size: 2rem;
  color: #d08e3c;
  font-weight: bolder;
  cursor: pointer;
}

.fa-utensils {
  margin-right: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-links {
  color: #d08e3c;
  text-decoration: none;
  padding: 0.5rem 3rem;
}

.nav-links:hover {
  background-color: #ffedbf;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.fa-bars {
  color: #d08e3c;
  font-size: 2rem;
}

.nav-button-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    justify-content: center;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;

    position: absolute;
    top: 90px;
    left: -150%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .nav-menu.active {
    margin: 0;
    padding-left: 0;
    background: #fff9eb;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;

    width: 100%;
    display: table;
  }

  .nav-links:hover {
    width: 100%;
    background-color: #ffedbf;
    border-radius: 5px;
    transition: all 0.2s ease-out;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 32px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #d08e3c;
    font-size: 2rem;
  }

  .nav-button-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 8px;
    width: 80%;
    background: #ffcb8a;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-button-mobile:hover {
    opacity: 50%;
    background: #ffcb8a;
    color: #fff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}

/* -----------------------RECIPE SEARCH-------------------------------- */

/* ------------------------------------------------------- */

/* -----------------------MEAL PLAN-------------------------------- */
.app-background {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 100px;
}

.main-container {
  background-color: #fff9eb;
  width: 400px;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}

.add-item-box {
  background: white;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.add-item-input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: #d08e3c;
  width: 100%;
  height: 30px;
  font-size: 1.5rem;
}

input::placeholder {
  color: #d08e3c;
}
input:focus {
  outline: 0;
}

.item-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-add-to-list:hover {
  opacity: 50%;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: var(--lightblue);
  transition: 250ms;
}

.btn-add-to-list {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  background: var(--primary);
  border: none;
}
/* -----------------------MEAL PLAN-------------------------------- */
.week-name-box {
  min-width: 900px;
  margin-right: 6rem;
  box-sizing: border-box;
  flex-direction: row;
}

.week-name-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-chevron-circle-left {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.fa-chevron-circle-right {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.year-month {
  font-weight: bolder;
  padding: 0.5rem;
}

.week-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dayName {
  background-color: var(--primary);
  width: 100%;
  color: white;
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--primary);
  padding-top: 10px;
  padding-left: 10px;
}

.col {
  color: var(--brown);
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 1px var(--primary);
  padding-top: 10px;
  padding-left: 10px;
  overflow: scroll;
  flex-direction: column;
}

.fa-plus-circle {
  color: var(--primary);
  padding-left: 4px;
}
.not-same-month {
  color: lightgrey;
}

.rounded-tl-corner {
  border-top-left-radius: 1rem;
}
.rounded-tr-corner {
  border-top-right-radius: 1rem;
}

.rounded-bl-corner {
  border-bottom-left-radius: 1rem;
}
.rounded-br-corner {
  border-bottom-right-radius: 1rem;
}

.same-day {
  background-color: #d3dafc;
  color: white;
}

.day-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  width: 100px;
  box-sizing: border-box;
}
/* -----------------------Modal-------------------------------- */

.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: 1rem 0 0 rgba(black, 0.2);
}

h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.content {
  padding: 1rem;
}

#centered-toggle-button {
  position: absolute;
}

/* -----------------------Cart -------------------------------- */

.category-div {
  border-bottom: 3px #e1cbaf solid;
}
/* -----------------------Cart Item-------------------------------- */

.item-list {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px #e1cbaf solid;
}

.total {
  float: right;
  padding: 10px;
}

.item-name {
  cursor: pointer;
}

.togglebox {
  padding-left: 20px;
}
.completed {
  text-decoration: line-through;
}

.incompleted {
  padding-left: 10px;
}
