body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: #d08e3c;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9eb;
  padding: 8px 35px;
}

.navbar__logo {
  font-size: 24px;
  color: #d08e3c;
}
.navbar__logo-text {
  font-size: 32px;
  padding-left: 8px;
  font-weight: bolder;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 35px;
}
.navbar__menu li:hover {
  background-color: #ffedbf;
  border-radius: 5px;
}

.navbar__button {
  display: flex;
  padding-left: 0;
}
.navbar__button .nav-button {
  padding: 8px 35px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__button {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

#weeklyPricesContainer {
  padding: 1rem 5rem 0 5rem;
  height: 100vh;
  background: #0b686b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #011b64,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004146,
    #6b7aa0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chartContainer {
  width: 75%;
  padding-right: 2rem;
}

.fitnessRight {
  width: 25%;
  padding-left: 2rem;
}

#addMeasurement {
  width: 300px;
  background-color: whitesmoke;
}

#addMeasurementHeader {
  letter-spacing: 0.1rem;
  padding: 1rem 0 1rem 1rem;
  font-size: 1rem;
}

#addMeasurementHeader h3 {
  text-transform: uppercase;
}

#addMeasurementSubmit {
  /* background: var(--purple); */
  background-color: #6b7aa0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
}
