/* ---------------------- GLOBAL --------------------------------- */
:root {
  --primary: #ffcb8a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: #d08e3c;
}

.btn {
  padding: 8px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 50%;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: var(--primary);
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  margin: 10px;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
}

.btn-large {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}

/* ---------------------- NAV BAR --------------------------------- */
.navbar {
  background-color: rgba(255, 249, 235);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 8px 35px;
}

.navbar-logo {
  font-size: 2rem;
  color: #d08e3c;
  font-weight: bolder;
  cursor: pointer;
}

.fa-utensils {
  margin-right: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  /* display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw; */
  display: flex;
  list-style: none;
  padding-left: 0;

  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;

  justify-content: space-between;
  align-items: center;
  margin-right: 2rem; */
}

.nav-links {
  color: #d08e3c;
  text-decoration: none;
  padding: 0.5rem 3rem;
}

.nav-links:hover {
  background-color: #ffedbf;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.fa-bars {
  color: #d08e3c;
  font-size: 2rem;
}

.nav-button-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    justify-content: center;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;

    position: absolute;
    top: 90px;
    left: -150%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .nav-menu.active {
    margin: 0;
    padding-left: 0;
    background: #fff9eb;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;

    width: 100%;
    display: table;
  }

  .nav-links:hover {
    width: 100%;
    background-color: #ffedbf;
    border-radius: 5px;
    transition: all 0.2s ease-out;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 32px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #d08e3c;
    font-size: 2rem;
  }

  .nav-button-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 8px;
    width: 80%;
    background: #ffcb8a;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-button-mobile:hover {
    opacity: 50%;
    background: #ffcb8a;
    color: #fff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}

/* ------------------------------------------------------- */

#weeklyPricesContainer {
  padding: 1rem 5rem 0 5rem;
  height: 100vh;
  background: #0b686b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #011b64,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004146,
    #6b7aa0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chartContainer {
  width: 75%;
  padding-right: 2rem;
}

.fitnessRight {
  width: 25%;
  padding-left: 2rem;
}

#addMeasurement {
  width: 300px;
  background-color: whitesmoke;
}

#addMeasurementHeader {
  letter-spacing: 0.1rem;
  padding: 1rem 0 1rem 1rem;
  font-size: 1rem;
}

#addMeasurementHeader h3 {
  text-transform: uppercase;
}

#addMeasurementSubmit {
  /* background: var(--purple); */
  background-color: #6b7aa0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
}
